<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Conectar cuenta</title>
  <link rel="stylesheet" href="conectarcuenta.css">
  <script src="prototipo.js"></script>
</head>
<body>
	<div class="home">
        <div class="iframe_fintoc">
            <iframe
		        src="https://app.fintoc.com/widget-iframe?public_key=pk_live_s48zhNZBeiLTsNn7Ny9RmPagwts-FQXg&holder_type=individual&redirect_to=https://now.moonshots.cl/next&webhook_url=https://now.moonshots.cl/webhook"
		        width="360"
		        height="500"
		        frameborder="0">
	        </iframe>
        </div>
	</div>
</body>
</html>
