<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Hazte cliente</title>
  <!-- <link rel="stylesheet" href="next.css"> -->
  <!-- <script src="next.js"></script> -->
  <link rel="stylesheet" href="haztecliente.css">
  <script src="prototipo.js"></script>
</head>
<body>
	<div class="home">
	<!--<button type="submit" class="button" onclick="handler();">Conectar cuenta</button>-->
	<button type="submit" class="button" onclick="window.location='/conectarcuenta';">Conectar cuenta</button>
	<div id="lightbox">
	  </div>
	  </div>
</body>
</html>
