<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Hola</title>
  <!-- <link rel="stylesheet" href="next.css"> -->
  <!-- <script src="next.js"></script> -->
</head>
<body>
	<h1>¡Hola Juanito!</h1>
	<p>Tu renta es de $300.000.000</p>
	<p>Tu dirección es km 30.000 - Antártidad</p>
	<p>Actualmente tienes una Cuenta Corriente en Banco estado con $0</p>
	<p>Una línea de credito de $10</p>
	<p>Una tarjeta de crédito VISA con un cupo de $15</p>

	<h3>Y ahora con Sbank, tienes un crédito preaprobado por</h3>
	<h2>$1.000.000.000</h2>
	<p>Con abono automático a tu nueva cuenta Corriente Sbank++</p>

	<button type="submit">!Pidelo aquí!</button>

	<!-- <div class="home"></div>-->
</body>
</html>
