<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>now</title>
  <link rel="stylesheet" href="prototipo.css">
  <script src="prototipo.js"></script>
</head>
<body>
	<h1>Cuenta Corriente </br>Sbank</h1>
	<p>En SBank te ofrecemos toda una varieda de planes de </br>
	Cuenta Corriente que se ajustan a tus necesidades y a tus </br>
	elecciones. Tu eliges por qué pagar y qué beneficios disfrutar
	</p>
	<button type="submit" onclick="window.location='/portateaqui';">Portate aquí</button>
	<button type="submit" onclick="window.location='/haztecliente';">Hazte Cliente</button>
	<!-- <div class="home"></div> -->
	<!--<button type="submit" id="buttonfake">Conectar cuenta</button>-->
  <div id="lightbox">
    <iframe
    src="https://app.fintoc.com/widget-iframe?public_key=pk_live_s48zhNZBeiLTsNn7Ny9RmPagwts-FQXg&holder_type=business&redirect_to=https://now.moonshots.cl/next&webhook_url=https://now.moonshots.cl/webhook"
    width="360"
    height="500"
    frameborder="0">
    </iframe>
  </div>
</body>
</html>

