<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>now</title>
  <link rel="stylesheet" href="prototipo.css">
  <script src="prototipo.js"></script>
</head>
<body>
  <div class="home">
	<div id="header"></div>
	<div id="seccion-1">
        <div class="title"></div>
        <div class="text"></div>
        <div class="btns">
          <button type="submit" onclick="window.location='/portateaqui';">Portate aquí</button>
          <button type="submit" onclick="window.location='/haztecliente';">Hazte Cliente</button>
        </div>
	</div>
  <div id="seccion-2"></div>
  </div>
</body>
</html>

