<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Portate aquí</title>
  <!-- <link rel="stylesheet" href="next.css"> -->
  <!-- <script src="next.js"></script> -->
</head>
<body>
	<h1>¡Comencemos tu solicitud!</h1>
	<p>Partamos por conectar tu cuenta.</br>
	Solo nos tomará unos segundos
	</p>
	<p>Si te preocupan tus datos, <a href="/privacidad">acá</a> explicamos </br>
	cómo los cuidamos.
	</p>
	<button type="submit">Conectar cuenta</button>

	<!-- <div class="home"></div>-->
</body>
</html>
